* {
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
}

canvas {
    box-shadow:  3px 3px 10px gray;
    margin-top: 15px;
}

body{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.drawingBox {
    background-color: rgb(241, 49, 60);
    border: 1px solid black;
    display: flex;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.drawingBox>*{
    border-radius: 20px;
    font-size: 30px;
    padding: 5px;
    margin:  0 100px;
    height: 50px;
    width: 90px;
}